.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body .App {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  border: solid 1px black;
  border-radius: 10px;
  margin: 20px 20px;
  padding: 20px;
}
h1 {
  color: violet;
  margin: 0 auto;
  padding: 10px 0 0 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
h2,
h3 {
  color: black;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
ul.list-info {
  list-style: none;
  margin: 0 auto;
  padding: 10px 0 0 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
ul.header-info {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 10px 0 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
